                    <!-- First Row -->
                    <div class="row">
                        <!-- Simple Stats Widgets -->
                        <div class="col-sm-6 col-lg-3">
                            <a href="javascript:void(0)" class="widget">
                                <div class="widget-content widget-content-mini text-right clearfix">
                                    <div class="widget-icon pull-left themed-background">
                                        <i class="gi gi-cardio text-light-op"></i>
                                    </div>
                                    <h2 class="widget-heading h3">
                                        <strong><span data-toggle="counter" data-to="2835"></span></strong>
                                    </h2>
                                    <span class="text-muted">Today</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <a href="javascript:void(0)" class="widget">
                                <div class="widget-content widget-content-mini text-right clearfix">
                                    <div class="widget-icon pull-left themed-background-success">
                                        <i class="gi gi-user text-light-op"></i>
                                    </div>
                                    <h2 class="widget-heading h3 text-success">
                                        <strong>+ <span data-toggle="counter" data-to="2862"></span></strong>
                                    </h2>
                                    <span class="text-muted">THIS WEEK</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <a href="javascript:void(0)" class="widget">
                                <div class="widget-content widget-content-mini text-right clearfix">
                                    <div class="widget-icon pull-left themed-background-warning">
                                        <i class="gi gi-briefcase text-light-op"></i>
                                    </div>
                                    <h2 class="widget-heading h3 text-warning">
                                        <strong>+ <span data-toggle="counter" data-to="75"></span></strong>
                                    </h2>
                                    <span class="text-muted">TOTAL</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <a href="javascript:void(0)" class="widget">
                                <div class="widget-content widget-content-mini text-right clearfix">
                                    <div class="widget-icon pull-left themed-background-danger">
                                        <i class="gi gi-wallet text-light-op"></i>
                                    </div>
                                    <h2 class="widget-heading h3 text-danger">
                                        <strong>$ <span data-toggle="counter" data-to="5820"></span></strong>
                                    </h2>
                                    <span class="text-muted">UNSUBSCRIBED</span>
                                </div>
                            </a>
                        </div>
                        <!-- END Simple Stats Widgets -->
                    </div>
                    <!-- END First Row --> 
                    <!-- Datatables Block -->
                    <!-- Datatables is initialized in js/pages/uiTables.js -->
                    <div class="block full">
                        <div class="block-title">
                            <h2>Datatables</h2>
                        </div>
                        <div class="table-responsive">
                            <table id="example-datatable" class="table table-striped table-bordered table-vcenter">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 50px;">ID</th>
                                        <th>User</th>
                                        <th>Email</th>
                                        <th style="width: 120px;">Profile Status</th>
                                        <th class="text-center" style="width: 75px;"><i class="fa fa-flash"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% current_user.customers.each do |customer| %>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td><strong><%= customer.name %></strong></td>
                                        <td><%= customer.email %></td>
                                        <td><span class="label label-warning">not filled</span></td>
                                        <td class="text-center">
                                            <a href="javascript:void(0)" data-toggle="tooltip" title="Edit User" class="btn btn-effect-ripple btn-xs btn-success"><i class="fa fa-pencil"></i></a>
                                            <a href="javascript:void(0)" data-toggle="tooltip" title="Delete User" class="btn btn-effect-ripple btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                        </td>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                        <!-- END Datatables Block -->