                <!-- Main Sidebar -->
                <div id="sidebar">
                    <!-- Sidebar Brand -->
                    <div id="sidebar-brand" class="themed-background">
                        <%= link_to "dashboard", class: "sidebar-title" do %>
                            <i class="fa fa-shopping-cart"></i> <span class="sidebar-nav-mini-hide">SALES<strong>PRO</strong></span>
                        <% end %>
                    </div>
                    <!-- END Sidebar Brand -->

                    <!-- Wrapper for scrolling functionality -->
                    <div id="sidebar-scroll">
                        <!-- Sidebar Content -->
                        <div class="sidebar-content">
                            <!-- Sidebar Navigation -->
                            <ul class="sidebar-nav">
                                <li>
                                    <%= link_to "dashboard", class: "active" do %>
                                    <i class="gi gi-compass sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Dashboard</span>
                                    <% end %>
                                </li>
                                <li class="sidebar-separator">
                                    <i class="fa fa-ellipsis-h"></i>
                                </li>
                                <li>
                                    <%= link_to customers_path do %>
                                    <i class="gi gi-user sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Customers</span>
                                    <% end %>
                                </li>
                                <li>
                                    <a href="#" class="sidebar-nav-menu"><i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="hi hi-send sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Templates</span></a>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)">Add New Template</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">My Templates</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="sidebar-nav-menu"><i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-message_full sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Campaigns</span></a>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)">Start a Campaign</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Running Campaigns</a>
                                        </li>
                                                                                <li>
                                            <a href="javascript:void(0)">Completed Campaigns</a>
                                        </li>
                                                                                <li>
                                            <a href="javascript:void(0)">All Campaigns</a>
                                        </li>
                                                                                <li>
                                            <a href="javascript:void(0)">Campaign Reports</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- END Sidebar Navigation -->
                        </div>
                        <!-- END Sidebar Content -->
                    </div>
                    <!-- END Wrapper for scrolling functionality -->

                    <!-- Sidebar Extra Info -->
                    <div id="sidebar-extra-info" class="sidebar-content sidebar-nav-mini-hide">
                      
                        
                        <div class="text-center">
                            <small>Built with <i class="fa fa-heart text-danger"></i> using <a href="#" target="_blank">rails</a></small><br>
                            <small><span id="year-copy"></span> &copy; <a href="#" target="_blank">SalesPro</a></small>
                        </div>
                    </div>
                    <!-- END Sidebar Extra Info -->
                </div>
                <!-- END Main Sidebar -->